:root[lang="en"] {
  --basic-info: "Basic info";
  --body-info: "Body info";
  --forward: "forward";
  --back: "back";
  --user-name: "how should we call you?";
  --user-age: "how old are you now?";
  --user-gender: "who are you?";
  --user-activity: "how active are you during day?";
  --user-height: "what is your height?";
  --user-weight: "what is your weight?";
  --user-goalbf: "what is your goal bf?";
  --almost-none: "almost none";
  --sedentary: "sedentary";
  --light: "light";
  --average: "average";
  --above-average: "above average";
  --highest: "highest";
  --male: "male";
  --female: "female";
}
[lang="ru"] {
  --basic-info: "Базовая информация";
  --body-info: "Информация о теле";
  --forward: "даллее";
  --back: "назад";
  --user-name: "как нам стоит вас называть?";
  --user-age: "сколько вам сейчас лет?";
  --user-gender: "кто вы?";
  --user-activity: "как активно вы живете?";
  --user-height: "какого вы роста?";
  --user-weight: "ваш текущий вес?";
  --user-goalbf: "целевой процент жира?";
  --almost-none: "почти нулевой";
  --sedentary: "сидячая работа";
  --light: "немало ходите";
  --average: "средняя активность";
  --above-average: "выше среднего";
  --highest: "выше некуда";
  --male: "мужчина";
  --female: "женщина";
}
