// fonts
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
:root { --font-jetbrains-mono: "JetBrains Mono", monospace }

// main
html {
  font-family: "JetBrains Mono";
  color: var(--text-a);
  background: var(--back-a);
  overflow: hidden;
}

// reset
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 1rem;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
svg {
  filter: invert(var(--svg-invert));
}
