// imports
@use "./reset";
@use "./localization";

// dark theme
:root[theme="dark"] {
  --back-a: #0a0a0a;
  --back-b: #1a1a1a;
  --back-c: #2a2a2a;
  --back-d: #323232;
  --text-a: #ffffff;
  --text-b: #d4d4d4;
  --text-c: #a8a8a8;
  --text-d: #7c7c7c;
  --transparent: #00000000;
  --svg-invert: 1;
}

// light theme
:root[theme="light"] {
  --back-a: #ffffff;
  --back-b: #f0f0f0;
  --back-c: #e0e0e0;
  --back-d: #cccccc;
  --text-a: #0a0a0a;
  --text-b: #363636;
  --text-c: #626262; 
  --text-d: #8e8e8e; 
  --transparent: #00000000;
  --svg-invert: 0;
}
