// imports
@use "./reset";
@use "./localization";

// dark theme
:root[data-theme="dark"] {
  --back-a: #131414;
  --back-b: #1e1e1e;
  --back-c: #333333;
  --text-a: #fffffe;
  --text-b: #cecece;
  --text-c: #8d8d8d;
  --transparent: #00000000;
  --svg-invert: 1;
}

// light theme
[data-theme="light"] {
  --back-a: #f6f6f6;
  --back-b: #e8e8e8;
  --back-c: #dadada;
  --text-a: #0a0a0a;
  --text-b: #161616;
  --text-c: #242424;
  --transparent: #00000000;
  --svg-invert: 0;
}
